
body{
    height: 100%;
    box-sizing: border-box;
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: radial-gradient(circle, #ffffff 30%, #063660 80%)
}


div{
    display: flex;   
    flex-direction: column;
    align-items: center; 
    width:28rem;
    height: 30rem;
    background-color: white;
    box-shadow: 0px 7px 7px 0px grey;
    padding-top: 2rem;
    
}
h1{   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: #4876d7;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.persoonfoto{
    width: 17rem;
    border-radius: 50%;
    border:4px solid #063660;   
    padding: 4px;
    box-shadow: 0px 7px 7px 0px grey;
}
table{
    font-size: 30px;
    width: 19rem;
    margin-top: 2rem;
    background-color: rgb(183, 179, 179);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
td{
    transition: color 200ms ease,text-shadow 200ms ease;
    padding-left: 0.5rem;
    color: #063660;
}
td:hover{
    color:white;
    
    text-shadow: 0 0 4px white;
}

