<footer>
  <ul>
    <li>&copy; 2024 West Auto. All Rights Reserved.</li>
    <li><a href="tel:+32423456567">+32423456567</a></li>
    <li><a href="mailto:westauto@gmail.com">westauto@gamil.com</a></li>
    <li class="social-media">
      <a
        href="https://www.instagram.com/westauto"
        target="_blank"
        rel="noopener"
      >
        <span><i class="fa-brands fa-instagram"></i></span>
      </a>
      <a
        href="https://www.snapchat.com/add/westauto"
        target="_blank"
        rel="noopener"
      >
        <span><i class="fa-brands fa-snapchat"></i></span>
      </a>
      <a
        href="https://www.facebook.com/westauto"
        target="_blank"
        rel="noopener"
      >
        <span><i class="fa-brands fa-facebook"></i></span>
      </a>
      <a
        href="https://www.youtube.com/@westauto"
        target="_blank"
        rel="noopener"
      >
        <span><i class="fa-brands fa-youtube"></i></span>
      </a>
      <a href="https://twitter.com/westauto" target="_blank" rel="noopener">
        <span><i class="fa-brands fa-x-twitter"></i></span>
      </a>
      <a href="https://t.me/westauto" target="_blank" rel="noopener">
        <span><i class="fa-brands fa-telegram"></i></span>
      </a>
      <a href="https://wa.me/32423456567" target="_blank" rel="noopener">
        <span><i class="fa-brands fa-whatsapp"></i></span>
      </a>
    </li>
  </ul>
</footer>
<script
  src="https://kit.fontawesome.com/47520a2bf5.js"
  crossorigin="anonymous"
></script>
<style>
  /* FOOTER */
  footer {
    margin-top: 2rem;
    padding: 2rem;
    color: white;
    background: linear-gradient(180deg, #021526 30%, black);
    text-align: center;
    font-size: 1.1rem;
  }

  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  footer li {
    margin: 0.5rem 1rem;
  }
  .social-media span {
    font-size: 2.2rem;
    margin-left: 0.5rem;
  }
</style>
