* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    45deg,
    #000b299f 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #000b2998 95%
  );
  background-size: 8px 8px;
}

.title {
  padding-top: 0.8rem;
  color: #fafafa /*#e4e4e4  of gewoon wit*/;
  font-size: 3.5rem;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}
.clock{
  font-family:'DS Digital', Arial, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  top:4rem;
  left: 10px;     
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.top {
  /* border-bottom: 7px solid #e4e4e4;*/
  border-radius: 6px 20px;
}
.menu {
  width: 100vw;
  height: 7.6rem;
  background-image: linear-gradient(180deg, black, #021526) /*#021526*/;
  /*#f4943e #911c1c rood-#be1c1c*/
  /*#f53f3f,
        #ff3c00,
        #f53f3f*/
  display: grid;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 10px double #ffffffd3;
}
.menu ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu ul li {
  margin-right: 2rem;
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.menu ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.menu .logo {
  background-size: cover;
  height: 7.6rem;
  width: 10vw;
  display: none;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #021526;
  width: 40vw;
  
  padding: 2rem;
  text-align: center;
}
.over_ons {
  font-size: 3rem;
  padding-bottom: 1rem;
}
p {
  padding-bottom: 2rem;
}
p::first-letter {
  font-size: larger;
}
p img {
  height: 40vw;
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
aside {
  margin-bottom: 2rem;
}
footer {
  margin-top: 2rem;
  padding: 1rem;
  height: 14vh;
  color: white;
  background-image: linear-gradient(180deg, #021526 30%, black);
}
html,
body {
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .menu {
    height: 10rem;
  }
  main {
    height: auto;
    width: 90vw;
    margin-left: 5vw;
  }
  p img {
    height: 100%;
  }
}
