* { 
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(src/yildiz.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
main{
  margin-bottom: 5rem;
}
.contacteerons {
  position: relative;
  bottom: 2vh;
  font-size: 43px;
}
form {
  height: 64rem;
  width: 57vw;
  margin-top: 10vh;
  padding-top: 2rem;
  background-image: linear-gradient(180deg, #02152698, #000000 40%);
  font-size: 1.3rem;
  color: white;
  position: relative;
  left: 21vw; 
 
  border: 2px solid #ffffff46;
  border-radius: 0.7rem;
}
fieldset {
  width: 40vw;
  position: relative;
  left: 9vw;
  border: none;
}
select {
  all: revert;
  background-color: #ffffff46;
  width: 25vw;
  color: white;
  border-radius: 6px;
  height: 2rem;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0.6rem;
  border: 2px solid white;
}

input,
textarea {
  margin: 0.7rem 0 0.7rem 0;
  border: 2px solid white;
  border-radius: 0.3rem;
  width: 38vw;
  background-color: #ffffff46;
  color: white;
  font-size: 1.2rem;
  text-align: left;
}
textarea {
  height: 5rem;
}
input {
  height: 2rem;
}
button {
  margin: 0.7rem 0 2rem 0;
  width: 38vw;
  height: 5vh;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.3rem;
  background-color: white;
}
button:hover {
  font-size: 1.05rem;
}
#naamlabel::after,#berichtlabel::after,#achnaamlabel::after{
  content: '*';
  color: red;
}
/*-menubalk-*/
.clock{
  font-family:'DS Digital', Arial, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  top:4.2rem;
  left: 10px;     
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.title {
  padding-top: 0.8rem;
  color: #fafafa /*#e4e4e4  of gewoon wit*/;
  font-size: 3.5rem;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}
.top {
  border-radius: 6px 20px;
}
.menu {
  width: 100vw;
  height: 7.6rem;
  background-image: linear-gradient(180deg, black, #021526) /*#021526*/;
  /*#f4943e #911c1c rood-#be1c1c*/
  /*#f53f3f,
        #ff3c00,
        #f53f3f*/
  display: grid;
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: 10px double #ffffffd3;
}
.menu ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu ul li {
  margin-right: 2rem;
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.menu ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.menu .logo {
  background-size: cover;
  height: 7.6rem;
  width: 10vw;
  display: none;
}
footer {

  padding: 2rem;
  height: 14vh;
  color: white;
  background-image: linear-gradient(180deg, #021526 30%, black);
  text-align: left;
}
#map { 
  height: 280px;
  width: 38vw;
  border: 2px   solid white;
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.8);
 }

@media (max-width: 768px) {
  .menu {
    height: 10rem;
  }
  #map{
    height: 230px;
  }
}

