* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    45deg,
    #000b299f 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #000b2998 95%
  );
  background-size: 8px 8px;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #021526;
  width: 40vw;

  padding: 2rem;
  text-align: center;
}
.over_ons {
  font-size: 3rem;
  padding-bottom: 1rem;
}
p {
  padding-bottom: 2rem;
}
p::first-letter {
  font-size: larger;
}
p img {
  height: 40vw;
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
aside {
  margin-bottom: 2rem;
}

html,
body {
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .menu {
    height: 10rem;
  }
  main {
    height: auto;
    width: 90vw;
    margin-left: 5vw;
  }
  p img {
    height: 100%;
  }
}
