* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    45deg,
    #000b299f 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #000b2998 95%
  );
  background-size: 8px 8px;
}

.title {
  padding-top: 0.8rem;
  color: #fafafa /*#e4e4e4  of gewoon wit*/;
  font-size: 3.5rem;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}

.clock{
  font-family:'DS Digital', Arial, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  top:4.2rem;
  left: 10px;     
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.top {
  /* border-bottom: 7px solid #e4e4e4;*/
  border-radius: 6px 20px;
}
.menu {
  width: 100vw;
  height: 7.6rem;
  background-image: linear-gradient(180deg, black, #021526) /*#021526*/;
  /*#f4943e #911c1c rood-#be1c1c*/
  /*#f53f3f,
      #ff3c00,
      #f53f3f*/
  display: grid;
  z-index: 99;
  border-bottom: 10px double #ffffffd3;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Playfair Display SC", serif;
}
.menu ul li {
  margin-right: 2rem;
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.menu ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.menu .logo {
  background-size: cover;
  height: 7.6rem;
  width: 10vw;
  display: none;
}




/*-product-*/
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producten {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  
  
}
.carinfo{
  padding: 2rem;
}
.producten figure{
  height: 34rem;
}
.producten figure img {
  
  border: 2px solid white;
  
}
.mainauto {
  padding-left: 1.5rem;
  padding-top: 1.3rem;
  background-image: linear-gradient(180deg, black, #021526);
  color: white;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 6px 6px 6px 5px rgb(71, 71, 71);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.carinfo1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  height: fit-content;
  padding-left: 1.5rem;
  padding-right: 4rem;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.carinfo1 li {
  display: flex;
  justify-content: space-between; /* label links, value rechts */
  padding: 0.3rem 0;
}
.carinfo1 li span:nth-child(2){
  font-size: 25px;
  /* font-family: "Playfair Display SC", serif; */
}
.carinfo1 .label {
  font-weight: 600;
}

.carinfo1 .value {
  text-align: right;
  min-width: 8rem; /* optioneel: zodat alles mooi uitlijnt */
}

.model {
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.2vw;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}
.prijs {
  font-size: 2.2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.3vw;
  color: #15530f;
  text-shadow: 0 0 4px rgba(3, 82, 0, 0.8);
  margin-bottom: 1rem;
}
.winkelmandje, .favorieten{
  
  color: #ffffff;
  background-color: #15530f;
  width:20rem;
  height: 3rem;
  margin-top: 2rem; 
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
}

.favorieten{
  width: 5rem;
}

.winkelmandje:hover,.favorieten:hover {
  border: 2px solid white;
}

/*review*/
label{
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  color: white;
}
form{
  margin: 2rem;
  background-color: #021526;
  border-radius: 5px;
  width: 28rem;
  border: 2px solid white;
  text-align: center;
  padding-top: 1rem;
}
textarea{
  /* margin-top: 0px; */
  padding: 0.5rem;
  width: 25rem;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.559);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  border-radius: 5px;
  border: 2px solid white;
}

button{
background-color: #156b0d;
color: white;
width: 7rem;
text-align: center;
border-radius: 4px;
border: 2px solid white;
margin: 0.7rem 0 1rem 0;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1rem;
}
form button:hover{
  width: 7.5rem; 
}

.rating {
  display: flex;
  flex-direction: row-reverse; /* zorgt dat hoogste ster links staat */
  justify-content: center;
}

.rating input {
  display: none; /* verberg de radio buttons */
}

.rating label {
  font-size: 2rem;
  color: #ccc; /* grijs voor niet-geselecteerde sterren */
  cursor: pointer;
  transition: color 0.2s;
}

/*- deze code zorgt ervoor dat de sterren voor de gekozen punt ook geel worden -*/
.rating input:checked ~ label i,
.rating label:hover ~ label i,
.rating label:hover i {
  color: gold; /* geel als geselecteerd of hover */
}
/*- - - - - - - - - - - - - - - -*/


/*review*/


footer {
  
  
  
  padding: 2rem;
  height: 12vh; 
  width: 100vw;
  color: white;
  background-image: linear-gradient(180deg, #021526 30%, black);
}
html,
body {
  overflow-x: hidden;
}


@media (max-width:1128px){
  .mainauto{
    grid-template-columns: 1fr;
    height: 57rem;  
    width: 29.8rem;
    margin-bottom: 2rem;  
    padding-right: 1.5rem;
    
    
  }
  
  .carinfo{
    padding-top: 0;
  }
 .favorieten{
  margin-top: 0rem;
 }
}
@media (max-width: 768px) {
  .menu {
    height: 10rem;
  }
  footer{
    height: 7rem;
  }
}
@media (max-width:425px){
 .menu{
  padding-left: 1rem;
 }
  .mainauto{
    grid-template-columns: 1fr;
    height: 53rem;  
    width: 23rem;
    box-shadow: 0px 0px;
  }
  .producten figure img {
    height: 20rem;
    width: 19.7rem;
    border: 2px solid white;
    
  }
  .carinfo{
    
    padding-left: 0;
    font-size: 1.3rem;
  }
  
  .favorieten, .winkelmaandje{
    width: 20rem;
  }
  footer{
    height: 7rem;
  }
  nav ul{
    padding-left: 7px;
  }
}
