html,
body {
  overflow-x: hidden;
}

/*  outline:focus-visual;   {Zet wel een outline die niet wordt gezien na het klikken }   */
/* TIP!   :nth-child(even) of (odd) ipv WISKUNDEIGE FORMULES ZOALS 3n+1 OF 2n  */

/*background-image: url(src/);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );*/

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /*background-image: linear-gradient(180deg, #2694d4 13%, white 15%);*/
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: #fff;
  background-color: #131313;*/
  /*background-color: #e4e4e4;*/
  /* background-image: linear-gradient(
    45deg,
    #000b299f 5%,
    #fff 10%,
    #c2c2c2 30%,
    #ddd 50%,
    #c2c2c2 70%,
    #fff 80%,
    #000b2998 95%
  ); */
  background: linear-gradient(135deg, #021526 20%, #cfcfcf 100%);
  /* background-size: 10px 5px; */
  display: grid;
  grid-template-columns: 0.37fr 1.3fr;
  grid-template-rows: 1fr 1fr 1fr;
}

main {
  margin-top: 2rem;
  grid-template-columns: 2/3;
  grid-row: 2/3;
}
aside {
  grid-column: 1/2;
  grid-row: 2/3;
}
footer {
  grid-column: 1/3;
  grid-row: 3/4;
}

/*------welcomepage------*/

/*-----menu------*/

/*foto*/

#maincontainer {
  margin-left: 50%;
}
.owner1 figure {
  width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid grey;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: lightgrey;
}
.owner1 img {
  grid-column: 1/2;
}

.owner1 p {
  grid-column: 2/3;
  padding: 1rem;
}

/*-meest bekeken-*/
.meestbekeken > ul {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.meestbekeken {
  background-color: #021526;
  padding: 1.5rem;
  width: 50rem;
  color: white;
  text-align: center;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
  border: 3px solid white;
}
.meestbekeken img {
  border: 1px solid white;
  max-width: 15rem;
  transition: box-shadow 120ms linear 0s;
}
.meestbekeken img:hover {
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.8);
}
.meestbekeken span {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}

/*--------autos---------------------------------------------------*/

main .mid #autos {
  margin-top: 6rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}
.mid #autos > article {
  flex: 1 1 350px;
  border: 2px solid #f0f0f0;
  /*#044343*/
  border-radius: 0.5rem;
  text-align: left;
  box-shadow: 3px 3px 3px 2px rgb(114, 114, 114);
  overflow: hidden;
  transition: transform 180ms linear 0s, box-shadow 100ms linear;
}

.mid #autos > article:hover {
  box-shadow: 4px 4px 4px 3px rgba(52, 52, 52, 0.648);
  transform: scale(1.02, 1.02);
}

main .mid a img {
  border-bottom: 2px solid #ffffff;
}
#autos article {
  color: #e4e4e4;
  background-color: #021526;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: fit-content;
  font-weight: 500;
}

/*specificaties*/

#autos .model {
  font-family: "Playfair Display SC", serif;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
}

.mid #autos article a ul {
  padding: 0.7rem;
}
.mid #autos article a ul li {
  padding-bottom: 0.2rem;
}

.vermogen .transmissie,
.locatie,
.verkoper,
.brandstof {
  display: none;
}
/*================================einde autos======================================
/*- aside -*/
select {
  all: revert;
}
aside {
  z-index: 40;
  margin-top: 8rem;
}
.filter,
#cart-items {
  background-color: #021526;
  margin-left: 0.5rem;
  padding: 1.3vw;
  width: 90%;

  border: 4px inset #04434392;
  border-radius: 1rem;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "DS Digital", Arial, sans-serif;
  /* box-shadow: 3px 3px 3px 2px rgb(114, 114, 114); */
}
#cart-items {
  margin-top: 2rem;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}

/*------*/
/* fav button */

.buy,
.compare,
.favorite {
  background-color: none;
  width: 96%;
  height: 40px;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
  transition: font-size 100ms linear, color 150ms linear,
    text-shadow 150ms linear;
  border: 1px solid white;
}
button:hover {
  color: #ffbf00fd;

  text-shadow: 0 0 10px rgba(255, 153, 0, 0.8);
}

/*----*/

/*ticket*/
.receipt {
  font-family: "Courier New", Courier, monospace;
  background: whitesmoke;
  border: 1px dashed black;
  border-top: none;
  padding: 16px;
  margin-left: 3rem;
  box-shadow: 2px 2px 2px 1px rgb(114, 114, 114);
  width: 250px;
}

.receipt table {
  width: 100%;
}

.receipt td {
  padding: 4px 0;
  font-size: 0.9em;
  text-align: left;
}

.receipt .total-row td {
  border-top: 2px solid black;
  padding-top: 8px;
}

.receipt td:last-child {
  text-align: right;
}

.receipt table tr {
  border-bottom: 1px dashed #cdcdcd;
}

.receipt table tr:last-child {
  border-bottom: none;
}

.receipt h2 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cart-actions {
  margin-left: 4rem;
}

#checkout {
  width: 14rem;
  text-align: center;
}

#view-cart,
#checkout {
  margin-top: 1rem;
  background-color: #021526;
  color: white;
  height: 2rem;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

/*------*/
/*filter*/
.filter input,
select {
  background-image: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  width: 8vw;

  border: 2px solid #044343;
  border-radius: 0.3rem;
  text-align: center;
  color: darkslategray;
}
form {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.merkfilter,
.transmissiefilter {
  width: 16.5vw;
  height: 1.4rem;
}

.prijsfilter:nth-child(2),
.kmfilter:nth-child(2),
.vermogenfilter:nth-child(2),
.jaarfilter:nth-child(2) {
  margin-left: 0.5rem;
}

@media (max-width: 1216px) {
  #maincontainer {
    margin-left: 0rem;
  }
  .owner1 figure {
    width: 30rem;
    display: block;

    border: 2px solid grey;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
  }
  .owner1 img {
    grid-column: 1/2;
  }

  .owner1 p {
    grid-column: 2/3;
    padding: 1rem;
  }
}

@media (max-width: 789px) {
  main .mid #autos {
    margin-right: 0rem;
  }
  #autos {
    display: flex;
    justify-content: center;
  }
  #autos ~ li {
    width: 10rem;
  }
  .boxbox {
    display: block;
  }
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  nav {
    padding-left: 1.3rem;
  }
  main {
    grid-template-columns: 1/3;
    grid-row: 3/4;
  }
  aside {
    grid-column: 1/3;
    grid-row: 2/3;

    margin: 2rem 0rem 2rem 8vw;
  }
  aside ul {
    width: 90%;
    height: 11rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
    padding: 2rem;
  }
  .cart-items {
    height: auto;
    margin-left: 2rem;
  }
  select,
  input {
    width: 11vw;
  }

  /*-sfeebeeld-*/

  /*-meestbekeken-*/

  .meestbekeken > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .meestbekeken {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #021526;
    padding: 1.5rem;
    width: 20rem;

    margin: 0 auto 0 auto;
    color: white;
    text-align: center;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
    border: 3px solid white;
  }

  /*--*/
}
@media (max-width: 425px) {
  .filter {
    margin-top: 2rem;
  }
  aside ul {
    width: 80%;
    height: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    padding: 1.2rem;
  }
  select,
  input {
    width: 13vw;
  }
  .merkfilter,
  .transmissiefilter {
    width: 25.5vw;
  }
}
